<!DOCTYPE html>
<!--[if lt IE 9 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />

        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=<%= htmlWebpackPlugin.options.viewportWidth %>, initial-scale=1">

        <!-- Prevent mobile Safari from making phone numbers -->
        <meta name="format-detection" content="telephone=no">

        <% if (!htmlWebpackPlugin.options.dynamicMetaTags) { %>
            <title>Scratch - <%= htmlWebpackPlugin.options.title %></title>

            <!-- Search & Open Graph-->
            <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
            <meta name="google-site-verification" content="m_3TAXDreGTFyoYnEmU9mcKB4Xtw5mw6yRkuJtXRKxM" />

            <meta property="og:url" content="https://scratch.mit.edu/" />
            <meta property="og:type" content="website" />
            <meta property="og:title" content="Scratch - <%= htmlWebpackPlugin.options.title %>" />
            <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
            <meta property="og:image" content="<%- htmlWebpackPlugin.options.og_image %>" />
            <meta property="og:image:type" content="<%- htmlWebpackPlugin.options.og_image_type %>" />
            <meta property="og:image:width" content="<%- htmlWebpackPlugin.options.og_image_width %>" />
            <meta property="og:image:height" content="<%- htmlWebpackPlugin.options.og_image_height %>" />
        <% } %>

        <!-- Favicon & CSS normalize -->
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/css/lib/normalize.min.css" />

        <!-- Polyfills -->
        <script src="/js/polyfill.min.js"></script>

        <!-- Analytics (GA) -->
        <script>
            /* eslint-disable */
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '<%- htmlWebpackPlugin.options.ga_tracker %>', {
                'sampleRate': 10
            });
            ga('send', 'pageview');
            window.GA_ID = '<%- htmlWebpackPlugin.options.ga_tracker %>';
            /* eslint-enable */
        </script>
    </head>

    <body>
        <noscript>
            <p>Your browser has Javascript disabled. Please go to your browser preferences and enable Javascript in order to use Scratch.</p>
        </noscript>
        <div id="app"></div>

        <!-- Vendor & Initialize (Session & Localization)-->
        <script src="/<%= htmlWebpackPlugin.files.chunks.common.entry %>"></script>

        <!-- Scripts -->
        <script src="/js/<%= htmlWebpackPlugin.options.route.name %>.intl.js"></script>
        <script src="/<%= htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.route.name].entry %>"></script>

        <!-- Translate title element -->
        <% if (!htmlWebpackPlugin.options.dynamicMetaTags) { %>
            <script>
                var loc = window._locale || 'en';
                if (typeof window._messages !== 'undefined' && loc !== 'en') {
                    if (typeof window._messages[loc] === 'undefined') {
                        loc = loc.split('-')[0];
                    }
                    if (typeof window._messages[loc] !== 'undefined') {
                        var localizedTitle = window._messages[loc]['general.' + '<%= htmlWebpackPlugin.options.title %>'.toLowerCase()] || '';
                        if (localizedTitle.length > 0) {
                            document.title = 'Scratch - ' + localizedTitle;
                        }
                    }
                }
            </script>
        <% } %>
    <div style="color: #fff">;</div></body>
</html>
